# Apt and Sudo
alias a="apt"
alias s="sudo"
alias sa="sudo apt"
alias si="sudo -i"
alias halt="sudo halt" # Useful?
alias ..="cd .."
alias ...="cd ../.."
alias 2.="cd ../.."
alias 3.="cd ../../.."
alias 4.="cd ../../../.."
alias 5.="cd ../../../../.."

# Directory navigation
alias p="pushd"
alias b="popd" # b=back

# Other commands
alias gr="egrep -Inri --color"
alias en="emacs -nw --no-splash"
alias v="vim"
alias i="ipython --no-confirm-exit --quiet --pprint --no-banner"
alias ff="open -b org.mozilla.firefox"
alias pl="pylint -f colorized -r n --msg-template='{C}:{msg_id}:{line:3d},{column:2d}:{msg}'"
alias h="history"
alias tdmp="sudo tcpdump -xX -s0 -iany -nn"
alias hub="HTTP_PROXY= http_proxy= hub"

# Some goodies from:
# https://unix.stackexchange.com/questions/6628/what-customizations-have-you-done-on-your-shell-profile-to-increase-productivity

mcd() {
    test -d "$1" || mkdir -p "$1" && cd "$1"
}

mtd()
{
    local dir
    dir=$(mktemp -d)
    if test -n "$dir"
    then
        if test -d "$dir"
        then
            echo "$dir"
            cd "$dir"
        else
            echo "mktemp directory $dir does not exist"
        fi
    else
        echo "mktemp didn't work"
    fi
}

# (c) 2007 stefan w. GPLv3          
function up {
    ups=""
    for i in $(seq 1 $1)
    do
        ups=$ups"../"
    done
    cd $ups
}

source ~/.aliases_task
source ~/.aliases_git
source ~/.aliases_docker
source ~/.aliases_net
source ~/.aliases_extra
