# Apt and Sudo
alias a="apt"
alias s="sudo"
alias sa="sudo apt"
alias si="sudo -i"
alias halt="sudo halt" # Useful?

# Directory navigation
alias p="pushd"
alias b="popd" # b=back

# Other commands
alias gr="egrep -Inri --color"
alias en="emacs -nw --no-splash"
alias v="vim"
alias i="ipython --no-confirm-exit --quiet --pprint --no-banner"
alias ff="open -b org.mozilla.firefox"
alias pl="pylint -f colorized -r n --msg-template='{C}:{msg_id}:{line:3d},{column:2d}:{msg}'"
alias h="history"
alias tdmp="sudo tcpdump -xX -s0 -iany -nn"
alias hub="HTTP_PROXY= http_proxy= hub"

mcd() {
    test -d "$1" || mkdir -p "$1" && cd "$1"
}

source ~/.aliases_task
source ~/.aliases_git
source ~/.aliases_docker
source ~/.aliases_net
source ~/.aliases_extra
