[user]
	name = Acácio Centeno
	email = acaciocenteno@gmail.com
[color]
	ui = true
	pager = true
[core]
	excludesfile = /Users/acacio/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = vimdiff
[alias]
	a  = add
	co = checkout
	br = branch
	ci = commit
	st = status
	ph = push
	p  = pull
	cp = cherry-pick
	df = diff
	tr = log --color --graph --all --decorate --pretty=oneline
	trf = log --color --graph --all --decorate 
	unst = reset HEAD --
	last = log -1 HEAD
[push]
	default = tracking
[help]
	autocorrect = 1
