[user]
	name = Luiz Cordeiro 
	email = luiz.cordeiro@mobilityhouse.com 
[color]
	ui = true
	pager = true
[core]
	excludesfile = /Users/acacio/.gitignore_global
	#editor = emacs
[merge]
	tool = vimdiff
[alias]
	a  = add
	co = checkout
	cb = checkout -b
	br = branch
	ci = commit
	st = status
	ph = push
	pl  = pull
	cp = cherry-pick
	df = diff
	tr = log --color --graph --all --decorate --pretty=oneline
	trf = log --color --graph --all --decorate 
	un = reset HEAD --
	hard = reset --hard HEAD --
	last = log -1 HEAD
[push]
	default = tracking
[help]
	autocorrect = 1
